.{
    font-family: "Arial Black", Gadget, sans-serif;
font-size: 18px;
letter-spacing: 0px;
word-spacing: 0px;
color: #000000;
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
}

body{
  background-color: #10A1FF;
  background: linear-gradient(#10A1FF, #0066ff)
  background-repeat: no-repeat;
}

.webpage{
  align-content: center;
  background-color: #FFFFFF;
  border-radius: 10px;
}

.bar{
align-content: center;
  background-color: #FFFFFF;
  border-radius: 10px;
}

.title{
  font-family: "Arial Black", Gadget, sans-serif;
font-size: 299%;
letter-spacing: 0px;
word-spacing: 0px;
color: #000000;
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
margin-left: 75px;
}

.image{
  border-radius: 5%;
  width: 97%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.icon{
  position: absolute;
  border-radius: 5%;
  width: 30px;
  display: block;
  margin-right: auto;
  margin-left:3%;
}

.1title{
  font-family: "Arial Black", Gadget, sans-serif;
font-size: 320%;
letter-spacing: 0px;
word-spacing: 0px;
color: #000000;
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
}